html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #EEE2CA;
}

.root {
  position: relative;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-200%)
  }
  100% {
    transform: 0;
  }
}

@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}